* {
	margin:0;
	padding:0;
}
body {
	background:#ffffff;
	margin:0 auto;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
}



/* wrapper */
div.wrapper {
	width:70%;
	margin:60px auto;
}


/* header & nav */
div.header {
	padding:10px;
	margin:0 auto;
	background-color:#333333;
	margin-bottom:25px;
}
div.header h2 {
	color:#999999;
}
div.page-content {
	padding:10px;
	background-color:#333333;
}


/* headers */
h1 {
	font-size:3.2em;
	letter-spacing:-2px;
	padding-left:10px;
	text-align:left;
	line-height:1.0em;
	font-family:Georgia, "Times New Roman", Times, serif;
}
h1 a, h1 a:hover, h1 a:visited {
	text-decoration:none;
	color:#FFFFFF;
	font-weight:normal;
}
h2 {
	text-align:left;
	padding:0 0 10px 10px;
	font-size:0.7em;
	color:#666666;
	font-weight:normal;
	text-transform:uppercase;
}
h3 {
	color:#FFFFFF;
	font-size:1.2em;
	font-weight:bold;
}
h4 {
	background-color:#022641;
	border-bottom:4px solid #011728;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.8em;
	font-weight:bold;
	letter-spacing:0;
	padding:10px;
	text-transform:uppercase;
}

/* element defaults */
p {
	margin-bottom:20px;
	line-height:1.9em;
	font-size:0.75em;
}
ul {
	font-size:0.75em;
	padding:0 0 20px 35px;
	list-style:none;
}
code {
	background-color:#666666;
	display:block;
	padding:10px;
	margin:10px 0;
}

/* default forms */
fieldset { 
	border:none;
	border-top:1px solid #666666;
	margin-top:10px;
}
fieldset legend {
	font-size:0.9em;
	color:#ffffff;
	font-weight:bold;
	padding:2px;
	background-color:#666666;
}
form { }
form input, form textarea {
	border:1px solid #999999;
	border-bottom-color:#cccccc;
	border-right-color:#cccccc;
	padding:5px;
	color:#666666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.0em;
}
form input.formbutton {
	background:#044271 none repeat-x scroll bottom left;
	border:1px solid #022641;
	color:#ffffff;
	font-size:0.9em;
	padding:6px 14px;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

/* default tables */ 
table {
	width:100%;
	margin-bottom:10px;
	font-size:0.75em;
}
table tr th, table tr td {
	padding:5px 10px; 
}
table tr th {
	background:#666666 none repeat-x scroll bottom left;
	color:#333333;
}
table tr td {
	border-bottom:1px solid #555555;
}


/* default links */
a, a:visited { 
	color:#087BD4;
} 
a:hover { 
	color:#999999; 
}
div.sidebar a {
	color:#FFFFFF;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:0.9em;
	text-decoration:none;
}



/* content */
div.page-wrap {
	padding:20px;
	clear:both;
}
div.content {
	float:right;
	width:68%;
	color:#ffffff;
}
div.content ul {
	font-size:0.75em;
	list-style:disc;
}
div.content ul li {
	padding-bottom:5px;
}

/* sidebar */
div.sidebar {
	padding-right:10px;
	float:left;
	width:30%;
	color:#999999;
}
div.sidebar p { 
	color:#777777;
	margin-bottom:40px;
	padding:2px;
}
div.sidebar ul {
	font-size:0.9em;
	margin:0 0 40px;
	padding:0 10px;
}
div.sidebar ul li {
	padding:0;
}
div.sidebar ul li ul {
	background-color:#044271;
	padding-bottom:10px;
}
div.sidebar ul li ul li {
	padding:5px 0;
}




/* footer */
p.footer {
	text-align:right;
	color:#999;
	font-size:0.7em;
	padding:10px 0;
	margin:0;
}
p.footer a {
	color:#999;
	border-bottom:none;
	text-decoration:underline;
}

/* search form */
form.searchform {
}


/* misc classes */
*:focus {
	outline:none;
}
.clear {
	clear:both;
}